<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
  <style>
    html, body {
      height: 100%; /* Make sure the page height is at least the viewport height */
      margin: 0; /* Remove default margin */
      position: relative; /* Needed for footer positioning */
    }

    .footer {
      background-color: #f8f9fa;
      color: #333;
      text-align: center;
      padding: 20px 0;
      position: absolute; /* Position it at the bottom */
      bottom: 0; /* Anchor it to the bottom */
      width: 100%; /* Full width */
    }

    .container {
      padding-bottom: 60px; /* Give some space for the footer */
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Book Manage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- 로그인 버튼 -->
      <li class="nav-item" th:if="${loginMember == null}">
        <a class="nav-link" th:href="@{/login(redirectURL=${redirectURL})}">로그인</a>
      </li>
      <!-- 로그아웃 버튼 -->
      <li class="nav-item" th:if="${loginMember != null}">
        <a class="nav-link" href="#" th:attr="onclick=|event.preventDefault(); document.getElementById('logout-form').submit();|">로그아웃</a>
        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
      </li>
      <!-- 회원정보 -->
      <li class="nav-item" th:if="${loginMember != null}">
        <a class="nav-link" th:href="@{/members/edit(redirectURL=${redirectURL})}">회원정보</a>
      </li>
      <!-- 도서 목록 -->
      <li class="nav-item">
        <a class="nav-link" href="/bookList">도서 목록</a>
      </li>
      <!-- 대출 목록 -->
      <li class="nav-item" th:if="${loginMember != null}">
        <a class="nav-link" th:href="@{/rentalList}">대출 현황 조회</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>도서 목록</h2>
  </div>

  <div class="mb-3">
    <!-- 카테고리 버튼들 -->
    <a class="btn btn-outline-primary"
       th:classappend="${selectedCategory == null} ? 'active' : ''"
       th:href="@{/bookList(category=null, title=${bookSearch.title}, author=${bookSearch.author})}">전체</a>

    <a class="btn btn-outline-primary"
       th:classappend="${selectedCategory == '소설'} ? 'active' : ''"
       th:href="@{/bookList(category='소설', title=${bookSearch.title}, author=${bookSearch.author})}">소설</a>

    <a class="btn btn-outline-primary"
       th:classappend="${selectedCategory == '역사'} ? 'active' : ''"
       th:href="@{/bookList(category='역사', title=${bookSearch.title}, author=${bookSearch.author})}">역사</a>

    <a class="btn btn-outline-primary"
       th:classappend="${selectedCategory == '과학'} ? 'active' : ''"
       th:href="@{/bookList(category='과학', title=${bookSearch.title}, author=${bookSearch.author})}">과학</a>

    <a class="btn btn-outline-primary"
       th:classappend="${selectedCategory == '기술'} ? 'active' : ''"
       th:href="@{/bookList(category='기술', title=${bookSearch.title}, author=${bookSearch.author})}">기술</a>

    <a class="btn btn-outline-primary"
       th:classappend="${selectedCategory == '예술'} ? 'active' : ''"
       th:href="@{/bookList(category='예술', title=${bookSearch.title}, author=${bookSearch.author})}">예술</a>
    <div class="col">
      <div class="col">
        <!-- ADMIN 역할일 때만 보이는 도서 추가 버튼 -->
        <button class="btn btn-primary float-end"
                th:if="${loginMember != null and loginMember.role.name() == 'ADMIN'}"
                th:onclick="|location.href='@{/bookList/add}'|"
                type="button">도서 등록
        </button>
      </div>
    </div>
  </div>

  <form th:object="${bookSearch}" method="get" class="form-inline">
    <!-- 현재 카테고리 값을 유지하기 위한 hidden 필드 -->
    <input type="hidden" name="category" th:value="${selectedCategory}"/>

    <div class="row">
      <div class="col">
        <input type="text" th:field="*{title}" class="form-control" placeholder="제목"/>
      </div>
      <div class="col">
        <input type="text" th:field="*{author}" class="form-control" placeholder="저자"/>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-secondary mb-2">검색</button>
      </div>
    </div>
  </form>

  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>이미지</th>
        <th>제목</th>
        <th>저자</th>
        <th>조회수</th>
      </tr>
      </thead>
      <tbody>
      <!-- 도서 리스트 출력 -->
      <tr th:each="book : ${books}" th:if="${!#lists.isEmpty(books)}">
        <td>
          <!-- 이미지 클릭 시 상세 페이지로 이동 -->
          <a th:href="@{/bookList/{bookId}(bookId=${book.bookId})}">
            <img th:src="@{${book.imagePath} + '?v=' + ${cacheBuster}}"
            alt="도서 이미지" style="width: 100px; height: auto;"/>
          </a>
        </td>
        <td><a th:href="@{/bookList/{bookId}(bookId=${book.bookId})}" th:text="${book.title}">제목</a></td>
        <td th:text="${book.author}">저자</td>
        <td th:text="${book.viewCount}">조회수</td>
      </tr>
      </tbody>
    </table>

    <!-- books 리스트가 비어있을 때 메시지 출력 -->
    <p class="text-center" th:if="${#lists.isEmpty(books)}">검색된 결과가 없습니다</p>
  </div>
</div>

<div class="footer">
  <p>Created by Kaarf_o</p>
  <a href="https://github.com/K4RF/Full/tree/main/Book_ManageSys/base/manage" target="_blank">GitHub</a>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
