<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            position: relative;
        }

        .footer {
            background-color: #f8f9fa;
            color: #333;
            text-align: center;
            padding: 20px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .container {
            padding-bottom: 60px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Book Manage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" th:if="${loginMember == null}">
                <a class="nav-link" th:href="@{/login(redirectURL=${redirectURL})}">로그인</a>
            </li>
            <li class="nav-item" th:if="${loginMember != null}">
                <a class="nav-link" href="#" th:attr="onclick=|event.preventDefault(); document.getElementById('logout-form').submit();|">로그아웃</a>
                <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
            </li>
            <li class="nav-item" th:if="${loginMember != null}">
                <a class="nav-link" th:href="@{/members/edit(redirectURL=${redirectURL})}">회원정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/bookList}">도서 목록</a>
            </li>
            <li class="nav-item" th:if="${loginMember != null}">
                <a class="nav-link" th:href="@{/rentalList}">대출 현황 조회</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>대출 목록</h2>
    </div>

    <!-- 검색 폼 -->
    <form th:object="${rentalSearch}" method="get" class="form-inline">
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary mb-2">검색</button>
            </div>
        </div>
    </form>

    <hr class="my-4">

    <!-- 테이블 -->
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>도서 제목</th>
                <th>대출 날짜</th>
                <th>반납 날짜</th>
                <th>대출 상태</th>
            </tr>
            </thead>
            <tbody>
            <!-- rentals 리스트가 비어있지 않을 때만 테이블 내용 출력 -->
            <tr th:each="rental, iterStat : ${rentals}" th:if="${!#lists.isEmpty(rentals)}">
                <td th:text="${iterStat.index + 1}"></td>
                <td th:text="${rental.book.title}"></td>
                <td th:text="${rental.rentalDate}"></td>
                <td th:text="${rental.returnDate != null ? rental.returnDate : '미반납'}"></td>
                <td th:text="${rental.rentalStatus}"></td>
            </tr>
            </tbody>
        </table>

        <!-- rentals 리스트가 비어있을 때 메시지 출력 -->
        <p class="text-center text-muted" th:if="${#lists.isEmpty(rentals)}">조회된 결과가 없습니다</p>
    </div>
</div>

<div class="footer">
    <p>Created by Kaarf_o</p>
    <a href="https://github.com/K4RF/Full/tree/main/Book_ManageSys/base/manage" target="_blank">GitHub</a>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
