<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" th:if="${loginMember == null}">
        <a class="nav-link" href="/login">로그인</a>
      </li>
      <li class="nav-item" th:if="${loginMember != null}">
        <a class="nav-link" href="#"
           th:attr="onclick=|event.preventDefault(); document.getElementById('logout-form').submit();|">로그아웃</a>
        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
      </li>
      <li class="nav-item" th:if="${loginMember != null}">
        <a class="nav-link" href="/members/update">회원정보</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div th:replace="~{post/jpa/postList :: content}">
    <p>기본 내용</p>
  </div>

</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
