<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>글 상세</h2>
    </div>

    <!-- 저장 완료 메시지 -->
    <h2 th:if="${param.status}" th:text="'저장 완료!'"></h2>

    <div>
        <label for="postId">포스트 ID</label>
        <input type="text" id="postId" name="postId" class="form-control"
               th:value="${post.id}" readonly>
    </div>
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control"
               th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="content">내용</label>
        <input type="text" id="content" name="content" class="form-control"
               th:value="${post.content}" readonly>
    </div>
    <div>
        <label for="loginId">작성자</label>
        <input type="text" id="loginId" name="loginId" class="form-control"
               th:value="${post.loginId}" readonly>
    </div>

    <!-- 태그 -->
    <div>
        <label for="tags">태그</label>
        <input type="text" id="tags" name="tags" class="form-control"
               th:value="${post.tagsFormatted}" readonly>
    </div>

    <hr class="my-4">

    <!-- 댓글 목록 -->
    <h3>댓글</h3>
    <ul>
        <li th:each="comment : ${comments}">
            <p><strong th:text="${comment.author}">작성자</strong>: <span th:text="${comment.comet}">댓글 내용</span></p>
        </li>
    </ul>

    <!-- 댓글 작성 폼 -->
    <h3>댓글 작성</h3>
    <form th:action="@{'/post/jpa/postList/' + ${post.id} + '/comments'}" method="post">
        <div>
            <label for="author">이름</label>
            <input type="text" id="author" name="author" class="form-control" required />
        </div>
        <div>
            <label for="comet">댓글 내용</label>
            <textarea id="comet" name="comet" class="form-control" required></textarea>
        </div>
        <button class="w-100 btn btn-primary btn-lg mt-3" type="submit">댓글 작성</button>
    </form>

    <hr class="my-4">

    <!-- 수정 및 목록 버튼 -->
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/post/jpa/postList/{postId}/edit(postId=${post.id})}'|"
                    type="button">포스트 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/post/jpa/postList}'|"
                    type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
