<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>글 목록</h2>
        <!-- 포스트 리스트에서 회원 정보 버튼 추가 -->
        <a href="/members/update" class="btn btn-info">회원정보</a>
        <div class="d-flex justify-content-end">
            <div>
                <!-- 로그인 상태에 따라 버튼 표시 -->
                <a th:if="${loginMember == null}" href="/login" class="btn btn-primary">로그인</a>

                <form th:if="${loginMember != null}" th:action="@{/logout}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-secondary">로그아웃</button>
                </form>
            </div>
        </div>
    </div>

    <form th:object="${postSearch}" method="get" class="form-inline">
        <!-- 검색 폼 -->
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{loginId}" class="form-control" placeholder="작성자"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary mb-2">검색</button>
            </div>
            <div class="col">
                <div class="col">
                    <!-- 로그인 여부와 상관없이 포스트 등록 버튼 표시 -->
                    <button class="btn btn-primary float-end"
                            th:onclick="|location.href='@{/post/jpa/postList/add}'|"
                            type="button">포스트 등록
                    </button>
                </div>
            </div>
        </div>
    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a th:href="@{/post/jpa/postList/{postId}(postId=${post.id})}" th:text="${post.id}">포스트 id</a></td>
                <td><a th:href="@{/post/jpa/postList/{postId}(postId=${post.id})}" th:text="${post.title}">제목</a></td>
                <td th:text="${post.loginId}">작성자</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
