<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        .nav-link img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" href="/">Book Manage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" th:if="${loginMember == null}">
                <a class="nav-link" th:href="@{/login(redirectURL=${redirectURL})}">로그인</a>
            </li>
            <li class="nav-item" th:if="${loginMember != null}">
                <a class="nav-link" href="#" th:attr="onclick=|event.preventDefault(); document.getElementById('logout-form').submit();|">로그아웃</a>
                <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
            </li>
            <!-- 관리자 탭 -->
            <li class="nav-item" th:if="${loginMember != null and loginMember.role == 'ADMIN'}">
                <a class="nav-link" th:href="@{/admin}">관리자</a>
            </li>
            <li class="nav-item" th:if="${loginMember != null}">
                <a class="nav-link" th:href="@{/members/edit(redirectURL=${redirectURL})}">회원정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bookList">도서 목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rentalList}">대여 조회</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orderList}">주문 목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cart}">
                    <img src="/image/cart.svg" alt="Cart" style="width: 24px; height: 24px;">
                    <span th:if="${session.cart != null and #lists.size(session.cart) > 0}"
                          th:text="${#lists.size(session.cart)}"
                          class="badge badge-pill badge-danger">0</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>